.entity_container {
    -fx-background-color: #cecece;
    -fx-alignment: center;
    -fx-padding: 10 5 10 5;
    -fx-spacing: 20;
}
.main_container {
    -fx-padding: 60 50 0 50;
    -fx-background-color: #c7c7c7;
}
.bottom_bar {
    -fx-alignment: center;
    -fx-spacing: 30;
}
.bottom_bar .button {
    -fx-pref-width: 100;
}